<h4>Post details: </h4>
<br />
<p>
	<%= @row['content'] %>
	<br />
	<br />
	Addet at <%= @row['created_date'] %>
	<br />
</p>
<br />
<h4>Comments: </h4>
<br />
<% @comments.each do |comment| %>
	<p>
		<%= comment['content'] %>
		<br />
		<span style="font-size: 75%; color: #999;">Addet at <%= comment['created_date'] %></span>
	</p>
	<hr />
<% end %>
<p>
	<form action="/details/<%= @row['id'] %>" method="post" role="form">
		<div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
			<textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Type comment text here" ></textarea>
		</div>
		<div class="col-auto">
	    	<button type="submit" class="btn btn-primary mb-3">Add comment</button>
	  	</div>
  	</form>
</p>